<template id="academy-menu">
    <default-box :bindings.sync="bindings" class="wg wg-widget wg-academy-menu">
        <ul class="wg wg-menu-table">
            <li v-for="item in bindings.items.collection" class="wg wg-table-item" :class="{ 'active': item.active }">
                <a v-if="item.vlink" v-link="{ path: item.vlink }" :style="{
                    'margin': item.margin || bindings.items.style.margin,
                    'padding': item.padding || bindings.items.style.padding,
                    'background': item.background || bindings.items.style.background,
                }">{{ item.title }}</a>
                <a v-if="!item.vlink" :href="item.href" :style="{
                    'margin': item.margin || bindings.items.style.margin,
                    'padding': item.padding || bindings.items.style.padding,
                    'background': item.background || bindings.items.style.background,
                }"
                >{{ item.title }}</a>
            </li>
        </ul>
    </default-box>
</template>
